<div class="row container-fluid" *ngIf="selected">
    <app-pais-detail [selectedPais]="selectedPais"></app-pais-detail>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Año de Formación</th>
            <th scope="col">Capital</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises" class="table-primary text-dark">{{ pais.id }}
            <td (click)="onSelected(pais)">{{ pais.id }}</td>
            <td (click)="onSelected(pais)">{{ pais.name }}</td>
            <td (click)="onSelected(pais)">{{ pais.formation_year }}</td>
            <td (click)="onSelected(pais)">{{ pais.capital }}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">País más antiguo:</td>
        </tr>
    </tfoot>
</table>